.usage-graph {
  position: relative;

  svg {
    display: block;
  }

  .usage-graph__grid-line {
    shape-rendering: crispedges;
    stroke: $colors--theme--border-low-contrast;
    stroke-width: 1;
  }

  .usage-graph__axis-label {
    fill: $colors--theme--text-muted;
    font-size: 0.75rem;
  }

  .usage-graph__line {
    fill: none;
    stroke: #06c;
    stroke-width: 1.5;
  }

  .usage-graph__area {
    fill: #06c;
  }

  .usage-graph__area--secondary {
    fill: #06c;
    opacity: 0.3;
  }

  .usage-graph__crosshair {
    stroke: $colors--theme--border-high-contrast;
    stroke-dasharray: 2 2;
    stroke-width: 1;
  }

  .usage-graph__marker {
    fill: #06c;
    stroke: $colors--theme--background-default;
    stroke-width: 1.5;
  }

  .usage-graph__placeholder {
    align-items: center;
    background-color: $colors--theme--background-alt;
    display: flex;
    justify-content: center;
    margin-bottom: 0.375rem;
  }

  .usage-graph__tooltip {
    background-color: $colors--theme--background-default;
    border: $border-thin;
    box-shadow: $box-shadow;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    z-index: 10;
  }
}
